@import "variables";

@mixin font {
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Ubuntu, roboto, noto, arial, sans-serif;
}
html, body {
  height: 100vh;
  width: 100%;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: $background;
  @include font();
}

.button {
  border: none;
  background: #312e49;
  color: white;
  padding: 0.5rem;
  font-weight: bold;
  @include font();
}
